$bodyBG:#FFFFFF;
$fontMainColor:#000000;
$greenRubik:#009B48;
$yellowRubik:#FFD500;
$redRubik:#B90000;
$blueRubik:#0045AD;
$orangeRubik:#FF5900;
$titleFont:font-family: 'Fraunces', serif;
$contentFont:font-family: 'DM Sans', sans-serif;
